body {
  background: url('https://d1ih9tlfsfrtid.cloudfront.net/iLyi5JzmSmGNFCSwIvj9_25473_5.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}